body{
	margin: 0;
	background-image: url("../imagem/livra.png");
	background-repeat:no-repeat;
	background-color: #ff525d;
	background-size: cover;
}

.MenuDois{ 
  background-color: #e0e0e0;
  margin-top: 1%;
  margin-left: 3%;
  border-radius: 5px;
  width:fit-content;
}
.minilivro{  
  border-radius: 10px; 
  margin-top: 10px;
}

#busca{
margin-top: 2%;
margin-left: 3%;
background-color: #e0e0e0;
width: 15%;
border-radius: 10px;
}

#direita{

	width: 100%;

	height: 300px; 
}

table{
background-color: rgba(0,0,0,.5); 	
width: 90%;
margin:30px;
}

tr{

	line-height: 30px;
    color: white;
}

tr#titulo{
	width: 30px;
	font-weight: bold;
	background-color: rgba(0,0,0,.8);
	color: white; 
}

td{

	padding: 0px 10px;

}

#bot{
	background-color: white;
	color: black;
	padding: 5px;
	margin: 0px 5px;
	text-decoration: none;
	cursor: pointer;
}

